body{
  /* https://unsplash.com/ */
  background: url(https://images.unsplash.com/photo-1520769669658-f07657f5a307?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-size: 100% 100%;
  background-position: center;
  font-family: 'lato', sans-serif;
  color: #0f262d;
}
html{
  height: 100%;
}

#header{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo-area{
  width: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  float: left;
  height: 48px;
}

.nav-bar{
  width: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  float: right;
}

.nav-bar a{
  color: #0f262d;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 28px;
}

.nav-bar a:hover{
  background-color: white;
  color: #00bff9;
}

#toggle{
  display: none;
}

.toggle-area{
  background-color: #ffffff;
  color: #0f262d;
  display: none;
  justify-content: flex-end;
}

.toggle-area > label{
  cursor: pointer;
  height: 45px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-bars:before {
  content: "\f0c9";
  font-size: 35px;
}

#header-img{
  height: 30px;
  margin-top: 6px;
}

h1{
  font-weight: 700;
  font-size: 5em;
}

.section-title{
  font-weight: 700;
  font-size: 25px;
}
input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
  border: 2px solid #59adeb;

}

input[type="submit"] {
  width: 40px;
  height: 34px;
  margin: 15px 0;
  border: 2px solid #59adeb;
  background-color: #ffffff08;
  color: #1160f5;
}

footer{
  background-color: #1f1f1f;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

#about{
  background-color: white;
  margin-top: 160px;
}

.trailer{
  height: 310px;
  width: 495px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 40px 0 40px 0;
  margin: auto;
}

.trailer > #video{
  width: 400px;
  height: 225px;
}

#placesToVisit{
  background-color: white;
}
#places{
  border-radius: 2.5%;
}
#newsletter{
  background-color: white;
}
#content{
  text-align: center;
  padding-top: 25%;
}

.btn-lg{
  font-size: 24px;
}

.homepage{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.homepage h2, h3{
  text-transform: uppercase;
  color: #0f262d;
  font-family: 'lato', courier, serif;
  font-weight: 900;

}

.homepage h2{
  font-size: 30px;
}

.homepage h3{
  font-weight: 700;
  font-size: 20px;
}

.homepage p {
  font-size: 14px;
}

.homepage a{
  border: 2px solid #59adeb;
  color: #0f262d;
}

.homepage a:hover{
  color: #59adeb;
  border: 2px solid #00bff9;
  background-color: #ffffff00;
  text-decoration: none;
  opacity: .8;
}

.homepage hr{
  border-top: 1px solid #00bff9;
  width: 400px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);

}
/* Responsive styling */

@media (max-width: 2560px){
  #contact {
    background-color: white;
  }
}

@media (max-width: 1020px){
  .logo-area{
    height: 68px;
  }
}
@media (max-width: 998px){
  .logo-area{
    height: 68px;
  }
}

@media (max-width: 892px){
  .logo-area{
    height: 88px;
  }
}

@media (max-width: 700px){
  .logo-area{
    height: 48px;
  }
  .nav-bar{
    flex-direction: column;
    display: none;
    width: 100%;
  }

  #toggle:checked + .nav-bar{
    display: flex;
  }

  .toggle-area{
    display: flex;
    height: 48px;
  }
}