.topnav {
  overflow: hidden;
 background: linear-gradient(75deg, #2980b9, #2c3e50) top left fixed;
  width: 100%;
  margin: 5px auto 0px;
  color: white;
  text-align: center;
}

.site-heading {
  color: white;
  padding-left: 100px;
}

.topnav a {
  float: left;
  display: block;
background: linear-gradient(75deg, #2980b9, #2c3e50) top left fixed;

  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
 background: linear-gradient(75deg, #2980b9, #2c3e50) top left fixed;

  color: black;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.Vancancies {
  background-color: #4CAF50; 
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.Opening{

  background: linear-gradient(75deg, pink, #2c3e50,pink, yellow) top left fixed;

  border-radius: 10px 10px 10px 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
}
  
.header {
  width: 30%;
  margin: 5px auto 0px;
  color: white;
  text-align: center;
  }

  .ssform{
    width: 20%;
  margin: 45px auto 0px;
  color: black;
  text-align: left;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  }

  .headerrr{
    width: 60%;
  margin: 10px auto 0px;
  text-align: left;
  position: absolute;
  top:18%;
  right: 12%;
  }
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #rankingList {
    display: none;
    text-align: center;
  }

  