@import url(http://weloveiconfonts.com/api/?family=zocial);
/* zocial */
[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
}

body {
  background: linear-gradient(75deg, #2980b9, #2c3e50) top left fixed;
}



