
body {
	font-size: 120%;

 
}

.input-group {
	margin: 5px 0px 0px 0px;
}
.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 60%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.input-group textarea
{
	height: 30px;
	
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: green;
	border: none;
	border-radius: 5px;
	}

	.header {
	width: 100%;
	margin: 5px auto 0px;
	color: white;
	text-align: center;
	background: linear-gradient(75deg, #2980b9, #2c3e50) top left fixed;
	}
	.sform{

	width: 50%;
	margin: 80px auto 0px;
	color: black;
	text-align: top;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
	}
